<title>Classement - Chronotof</title>
<style>
    #scroller>div>img {
        max-width: 80px;
        max-height: 80px;
        box-sizing: content-box;
    }
</style>
</head>
<body id="classement">
<?php include('morceaux/header.html') ?>

<h1>Classement de la semaine</h1>
<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>13 527</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">1 - Normandie</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>11 003</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">2 - Pays-De-La-Loire</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>9 445</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">3 - Hauts-De-France</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>8 430</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">4 - Provence-Alpes-Côte-D'Azur</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>8 052</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">5 - Occitanie</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>7 883</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">6 - Grand-Est</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>5 821</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">7 - Corse</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>5 630</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">8 - Île-De-France</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>4 963</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">9 - Centre-Val-De-Loire</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>4 532</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
</p>
<div class="lieu">
    <a href="index.php?page=frise">10 - Bretagne</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>2 203</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">11 - Bourgogne-Franche-Comté</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>1 856</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">12 - Nouvelle-Aquitaine</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>

<div class="nombre_etoiles+lieu">
<div class="nombre_etoiles">
    <p>1 023</p>
    <img src="images/petite_etoile.png" alt="étoile">
</div>
<div class="lieu">
    <a href="index.php?page=frise">13 - Auvergne-Rhône-Alpes</a>
</div>
    </div>
<div class="photoFrise">
    <div id="scroller">
        <div>
            <img src="images_frise/Auvergne-Rhone-Alpes/auvergnerhonealpes.jpg" alt="Auvergne-Rhone-Alpes"></a>
            <img src="images_frise/Bourgogne-Franche-Comte/franchecomtebourgogne.jpg" alt="Bourgogne-Franche-Comte"></a>
            <img src="images_frise/Bretagne/bretagne.jpg" alt="Bretagne"></a>
            <img src="images_frise/Centre-Val_De_Loire/centrevaldeloire.jpg" alt="Centre-Val_de_Loire"></a>
            <img src="images_frise/Corse/corse.jpg" alt="Corse"></a>
            <img src="images_frise/Grand_Est/grandest.jpg" alt="Grand_Est"></a>
            <img src="images_frise/Hauts-De-France/hautsdefrance.jpg" alt="Hauts-de-France"></a>
            <img src="images_frise/Ile-De-France/iledefrance.jpg" alt="Ile-de-France"></a>
            <img src="images_frise/Normandie/normandie.jpg" alt="Normandie"></a>
            <img src="images_frise/Nouvelle-Aquitaine/nouvelleaquitaine.jpg" alt="Nouvelle-Aquitaine"></a>
            <img src="images_frise/Occitanie/occitanie.jpg" alt="Occitanie"></a>
            <img src="images_frise/Pays_De_La_Loire/paysdelaloire.jpg" alt="Pays_de_la_Loire"></a>
            <img src="images_frise/PACA/paca.jpg" alt="Provence-Alpes-Cote_d_Azur"></a>
        </div>
    </div>
</div>